@use "../particals/colors" as c;
@use "../particals/mixins";

.btn-container {
    width: 60%;
    margin: auto;
    @include mixins.flex(row, space-evenly);
    flex-wrap: wrap;
    #btn {
        @include mixins.btn-style;
        margin: 10px;
    }
}