@use "../particals/colors" as c;
@use "../particals/mixins";

.btn-container {
    width: 60%;
    margin: auto;
    @include mixins.flex(row, space-evenly);
    flex-wrap: wrap;
    .btn {
        @include mixins.main-btn-style;
        margin: 10px;
    }
    .disabled-btn {
        background-color: #ccc; /* Gray color for disabled state */
        color: #666; /* Dimmed text color */
        cursor: not-allowed; /* Indicate that the button is not clickable */
    } 
}

