@use "../particals/colors" as c;
@use "../particals/mixins";

.word_container {
    @include mixins.flex();
    font-size: 2.5rem;
    #end-message {
        text-align: center
    }
    .green_btn {
        @include mixins.alt-btn-style;
        margin: 20px
    }
    
}